*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

body {
  width: 1100px;
  /* height: 3028px; */
  margin: 0 auto;
  background-color: white;
  font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}


address {
  font: inherit;
}


li {
  list-style: none;
}
